node_modules
.nuxt
.output
.env
.env.*
!.env.example
dist
.git
.gitignore
README.md
.vscode
.idea
*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*
.DS_Store
coverage
.nyc_output
*.swp
*.swo
*~
.cache
